{{#resume.basics}}
<section>
  <h3>About</h3>
  <address>
    {{! contact info }}

    {{#if location}}
    <div>
      <span class="profile-icon">{{SVG 'location.svg'}} </span>
      {{ location.city }}
      {{ location.countryCode }}
    </div>
    {{/if}}
    {{#if email}}
    <div>
      <span class="profile-icon">{{SVG 'email.svg'}}</span>
      <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
    {{/if}}
    {{#if phone}}
    <div>
      <span class="profile-icon">{{SVG 'phone.svg'}} </span>
      <a href="tel:{{ phone }}">{{ phone }}</a>
    </div>
    {{/if}}
    {{#if url}}
    <div>
      <span class="profile-icon">{{SVG 'web.svg'}} </span>
      <a href="{{ url }}">{{URL url }}</a>
    </div>
    {{/if}}
  </address>

  {{! social links }}
  {{#if profiles.length}}
  <div>
    {{#each profiles}}
    <div>
      <span class="profile-icon">{{Icon network}}</span>

      {{#if url}}
      <a href="{{ url }}" target="_blank">
        {{#if username}}
        {{ username }}
        {{else}}

        {{ url }}
        {{/if}}
      </a>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</section>
{{/resume.basics}}
