{{#resume.basics}}
<section>
  <address class="grid">
    {{! contact info }}

    {{#if location}}
    <div>
      Location:
      {{ location.city }}
      {{ location.countryCode }}
    </div>
    {{/if}}
    {{#if email}}
    <div>
      Email: <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
    {{/if}}
    {{#if phone}}
    <div>
      Phone: <a href="tel:{{ phone }}">{{ phone }}</a>
    </div>
    {{/if}}
    {{#if url}}
    <div>
      Website: <a href="{{ url }}">{{ url }}</a>
    </div>
    {{/if}}
  </address>

  {{! social links }}
  {{#if profiles.length}}
  <div class="grid">
    {{#each profiles}}
    <div>
      <span class="fa fa-{{ network }}">{{ network }}: </span>
      {{#if url}}
      <a href="{{ url }}" target="_blank">
        {{#if username}}
        ({{ username }})
        {{else}}

        {{ url }}
        {{/if}}
      </a>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}

  <h3>Summary</h3>
  <p>{{ summary }}</p>
</section>
{{/resume.basics}}
