{{#if resume.certificates.length}}
<section id="certificates">
  <h2>Certificates</h2>
  <div>
    {{#each resume.certificates}}
    <header class="dated-header">
      {{#if name}}
      <h4>
        {{#if url}}
        <a target="_blank" href="{{ url }}">{{ name }}</a>
        {{else}}
        {{ name }}
        {{/if}}
      </h4>
      {{/if}}
      {{#if date}}
      <div>
        <span class="date">{{ date }}</span>
      </div>
      {{/if}}
    </header>

    {{#if issuer}}
    <p>
      Issuer: <span class="issuer">{{ issuer }}</span>
    </p>
    {{/if}}

    {{/each}}
  </div>
</section>
{{/if}}
