{{#if resume.education.length}}
<div>
  <h2>Education</h2>

  {{#each resume.education}}

  <section class="item {{#if breakBefore}}page-break{{/if}}">
    <header class="dated-header">
      {{#if institution}}
      <h4>
        {{#if url}}
        <a target="_blank" href="{{ url }}">{{ institution }}</a>
        {{else}}
        {{ institution }}
        {{/if}}

        {{#if location}}
        <small class="location">
          <span class="fas fa-map-marker-alt"></span>
          <span class="work-location">{{ location }}</span>
        </small>
        {{/if}}
      </h4>
      {{/if}}

      {{#if location}}
      <span class="location">{{ location }}</span>
      {{/if}}

      <div class="italic pull-right">
        {{#if startDate}}
        <span class="startDate">{{MY startDate}}</span>
        {{#if endDate}}
        <span class="endDate"> - {{MY endDate}}</span>
        {{else}}
        <span class="endDate"> - Present</span>
        {{/if}}
        {{else if releaseDate}}
        {{MY releaseDate}}
        {{else if date}}
        {{MY date}}
        {{/if}}
      </div>
    </header>

    <p>{{#if studyType}}{{ studyType }} {{/if}}{{#if area}}{{ area }}{{/if}}</p>

    {{#if gpa}}
    <h5>{{ gpa }}</h5>
    {{/if}}
    {{#if specialization}}
    <h5 class="specialization">{{ specialization }}</h5>
    {{/if}}
    {{#if courses.length}}
    <ul class="two-column">
      {{#each courses}}
      <li>{{.}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
