{{#if resume.work.length}}
<section class="section">
  <header>
    <h2 class="section-title">
      Experience <span class="item-count">({{ resume.work.length }})</span>
    </h2>
  </header>

  <section id="work">
    {{#nestedWork resume.work}}
    <header>
      {{#if name}}
      <h3>
        {{#if url}}
        <a target="_blank" href="{{ url }}">{{ name }}</a>
        {{else}}
        {{ name }}
        {{/if}}

        {{#if location}}
        <small class="location">
          <span class="fas fa-map-marker-alt"></span>
          <span class="work-location">{{ location }}</span>
        </small>
        {{/if}}
      </h3>
      {{/if}}
      {{#if description}}
      <p class="description">{{ description }}</p>
      {{/if}}
    </header>

    {{#if items.length}}
    <div>
      {{#each items}}

      {{#if summary}}
      <label for="work-item-{{@index}}"></label>
      {{/if}}

      <header class="clear">
        {{#if position}}
        <h4 class="position">{{ position }}</h4>
        {{/if}}
        <div class="date">
          {{#if startDate}}
          <span class="startDate">{{MY startDate}}</span>
          {{/if}}
          {{#if endDate}}
          <span class="endDate">- {{MY endDate}}</span>
          {{else}}
          <span class="endDate">- Current</span>
          {{/if}}
        </div>
      </header>

      {{#if keywords.length}}
      <ul class="keywords">
        {{#each keywords}}
        <li>{{ this }}</li>
        {{/each}}
      </ul>
      {{/if}}
      <div class="item" id="work-item">
        {{#if summary}}
        {{!--
        <div class="summary">{{paragraphSplit summary}}</div>
        --}}
        <div class="summary">{{ summary }}</div>
        {{/if}}
        {{#if highlights.length}}
        <ul class="highlights">
          {{#each highlights}}
          {{!--
          <li>{{paragraphSplit this}}</li>
          --}}
          <li>{{ this }}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>

      {{/each}}
    </div>
    {{/if}}

    {{/nestedWork}}
  </section>
</section>
{{/if}}
